[Unit]
Description=PU2PNY NXDN Gateway
After=network-online.target 2pny-mmdvmhost.service mosquitto.service
Wants=network-online.target
[Service]
Type=simple
WorkingDirectory=/var/lib/2pny/nxdn
ExecStart=/usr/local/bin/NXDNGateway /var/lib/2pny/nxdn/NXDNGateway.ini
Restart=on-failure
RestartSec=4
User=root
Group=mmdvm
NoNewPrivileges=true
ProtectHome=true
[Install]
WantedBy=multi-user.target
