[Unit]
Description=PU2PNY D-Star Gateway
After=network-online.target 2pny-mmdvmhost.service mosquitto.service
Wants=network-online.target
[Service]
Type=simple
ExecStart=/usr/local/bin/dstargateway /var/lib/2pny/dstar/DStarGateway.ini
Restart=on-failure
RestartSec=4
User=root
Group=mmdvm
NoNewPrivileges=true
ProtectHome=true
[Install]
WantedBy=multi-user.target
