[Unit]
Description=PU2PNY POCSAG / DAPNET Gateway
After=network-online.target 2pny-mmdvmhost.service mosquitto.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/lib/2pny/pocsag
ExecStart=/usr/local/bin/DAPNETGateway /var/lib/2pny/pocsag/DAPNETGateway.ini
Restart=on-failure
RestartSec=4
User=root
Group=mmdvm
NoNewPrivileges=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
